.box_container{
    width: 800px;
    height: 300px;
    border: 3px solid;
    border-color: lightcoral;
    border-radius: 5px;

    display: flex;
    justify-content: space-around;
    align-items: center;


}

.box{
    width: 220px;
    height: 220px;
    border-radius: 5px;
    margin : 3px;
    background-color: lightcoral;

    display: flex;
    justify-content: center;
    align-items: center;
}